{
    "DEBUG_MODE": false,

    "APP_ADDRESS": "0.0.0.0",
    "APP_PORT": 3000,

    "DB_HOST": "127.0.0.1",
    "DB_PORT": "3306",
    "DB_DATABASE": "tododue",
    "DB_USER": "tododue",
    "DB_PASSWORD": "secret",

    "SESSION_LENGTH": 10800000
}
