<%

%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>To-Do/Due</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="./assets/img/favicon.png" sizes="16x16" type="image/png">

    <link href="./assets/css/normalize.css" rel="stylesheet">
    <link href="./assets/css/notyf.min.css" rel="stylesheet">
    <link href="./assets/css/micromodal.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300;0,500;0,700;1,500&display=swap" rel="stylesheet">
    <link href="./assets/css/utilities.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
    <link href="./assets/css/hub.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    <header class="hub">
        <a href="#" class="nav-brand px-4 pt-3 text-light"><img src="./assets/img/logo.png" class="hub-logo"></a>
        <nav class="navbar m-0 px-1 py-4">
            <ul class="navbar m-0 pr-3 text-center">
                <li class="nav-link active"><a href="#hub" class="data-link" data-link="hub">hub</a></li>
                <li class="nav-link"><a href="#assignments" class="data-link" data-link="assignments">assignment list</a></li>
                <li class="nav-link"><a href="#courses" class="data-link" data-link="courses">grouped view</a></li>
                <li class="nav-link"><a href="#profile" class="data-link" data-link="profile">profile</a></li>
                <li class="nav-link"><a href="#logout" class="data-link" data-link="logout">logout</a></li>
            </ul>
        </nav>
    </header>
    <main class="mx-5 mt-4">
        <div class="container-fluid">
            <div class="row">
                <h1 class="pl-2">AT A GLANCE</h1>
                <hr>
                <div class="floating-buttons">
                    <button class="add-button">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <button class="three-dots">
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>

        </div>
    </main>
    <footer>
        <div class="container-fluid bg-dark">
            <div class="row">
                <div class="col-6-sm"><p class="text-light">Made for <a href="https://brickhack.io/" class="text-theme text-underline" target="_blank">BrickHack 7</a></p></div>
                <div class="col-6-sm"><p class="text-light text-right">Made by <a href="https://patrickm.xyz/" class="text-theme text-underline" target="_blank">Pat</a>, <a href="https://www.linkedin.com/in/christopher-grabda/" class="text-theme text-underline" target="_blank">Chris</a>, and <a href="https://zachkroesen.com/" class="text-theme text-underline" target="_blank">Zach</a></p></div>
            </div>
        </div>
    </footer>

    <script src="./assets/js/micromodal.min.js"></script>
    <script src="./assets/js/notyf.min.js"></script>
    <script src="assets/js/hub.js"></script>
</body>
</html>
